body{
  background-color:  #02010a;
  text-align: center;
  color: black;
  font-family: 'Dancing Script';
}

img{
  box-shadow: 2px 2px #02010a;
}

@-webkit-keyframes slidein{
  0%{
    margin-top: 150%;
  }
  60%{
    margin-top: -5%;
  }
  100%{
    margin-top: 0%;
  }
}

.contenido{
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  animation: slidein 1.5s;
}

.contenido div{
  box-sizing: border-box;
	min-width: 100px;
}

.encabezado{
  color: white;
  width: 100%;
  background-color: #5b7989;
  display: flex;
	flex-flow: row wrap;
  border-radius: 10px 10px 0 0;
}

.nombre{
  width: 70%;
  min-height: 100px;
  text-align: left;
  display: table;
}
.nombre h1{
  padding-left: 10px;
  display: table-cell;
  vertical-align: middle;
  text-shadow: 2px 2px #02010a;
}

.menu{
  width: 30%;
  min-height: 100px;
  text-align: center;
  display: table;
}

.menu a{
  color: white;
  font-size: 1.5em;
}

.actual:link, .actual:visited{
  text-decoration: none;
}

.menu nav{
  display: table-cell;
  vertical-align: middle;
}

.galeria{
  width: 100%;
  background-color: #d5c75f;
  display: flex;
  flex-flow: row wrap;
}

.galeria div{
  width: 33.33%;
}

.galeria img{
  width: 100%;
  min-height: 200px;
}

.img1{
  -webkit-filter: blur(10px);
  filter: blur(10px);
}

.img2, .img4, .img6{
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.img3{
  -webkit-filter: sepia(90%);
  filter: sepia(90%);
}

.pie-de-pagina{
  width: 100%;
  background-color: #C6d5c5;
  color: black;
  border-radius: 0 0 10px 10px;
  display: flex;
	flex-flow: row wrap;
}

.contacto{
  width: 25%;
  min-height: 200px;
}

h2{
  text-align: center;
}

ul{
  margin: 0;
  padding: 0;
}

li{
  list-style: none;
  padding-top: 5px;
}

.terminos{
  width: 25%;
  min-height: 200px;
}

.terminos b{
  padding-top: 5px;
}

.redes-sociales{
  width: 25%;
  min-height: 200px;
}

.redes-sociales table{
  width: 100%;
}

.redes-sociales td{
  text-align: center;
}

.derechos{
  width: 25%;
  min-height: 200px;
}

@media all and (min-width:900px) {
  .contenido{
    width: 900px;
  }

  .terminos p {
    display: none;
  }

#nombres-social{
    display: none;
  }
}

@media all and (max-width: 900px) {
  .contenido{
    width: 100%;
  }

.nombre{
  width: 100%;
  text-align: center;
}

.menu{
  width: 100%;
  min-height: 50px;
  padding-top: 0px;
}

.galeria div{
  width: 100%;
}

.imagen-paisaje{
  width: 100%;
}

.imagen-paisaje img{
  width: 100%;
  min-height: 200px;
}


.imagen-retrato{
  width: 100%;
}

.imagen-retrato img{
  width: 100%;
  min-height: 200px;
}

.contacto{
  width: 100%;
}

.terminos{
  width: 100%;
  min=height: 50px;
}

.terminos p {
  margin: 10px;
  padding: 5px;
  text-align: justify;
}

.redes-sociales{
  width: 100%;
}

.derechos{
  width: 100%;
}
